# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
**/keys/
**/secrets/
config.js
config.json
**/credentials.*

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build and distribution files
dist/
build/
.cache/

# Debug logs
logs/
*.log
npm-debug.log*

# Database files
*.sqlite
*.db

# Personal files and notes
TODO
NOTES
TODO.md
NOTES.md
personal/